body {
    background-color: yellow;
  }
  #heading {
    text-align: center;
    font-size:60px;
  }
  .stadium {
     display: grid;
     grid-template-columns: 50% 50%;
  }
  .player1 {
     margin-left: 30%;
     margin-top:20%;
  }
  .player2 {
     margin-left: 30%;
     margin-top:20%;
  }
  .dashboard  {
    margin-left:5%;
  }
  button {
    background-color: white;
    height:50px;
    width:110px;
    font-weight:bold;
    margin-left: 3%;
  }
  .img{
    height:250px;
    width:250px;
    background-color: white;
    background-image: url("dice-1.png");
    background-size: cover;
  }
  #result {
    text-align: center;
  }