*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
body{
	background: rgba(170, 210, 243, 0.623);
}
.box{
	height: 750px;
	width: 600px;
	margin:auto;
	margin-top:100px;
	background: rgb(218, 241, 250);
	border:3px solid #87ceeb;
	border-radius: 10px;
	box-shadow: 0px 0px 50px 20px rgb(175, 210, 224);
}
p{
	margin-left: 150px;
	margin-top:50px;
	color:rgb(92, 200, 243);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.1rem;
}
input{
	height:40px;
	width:300px;
	margin-left:150px;
	margin-top:20px;
	outline: none;
	font-size: 1.2rem;
	border:1.5px solid skyblue;
	color: skyblue;
	background: white;
	text-align: center;
}
#clear{
	background: white;
	height:40px;
	width:200px;
	margin-left: 200px;
}
#clear:hover{
	background: transparent;
}